@import "colors";
@import "spacing";
@import "typography";
@import "breakpoints";
@import "helpers";
@import "svg";

// ----------------------------------------------------
// Root
// ----------------------------------------------------
* {
  transition: all 150ms linear;
}
html {
    background-color: brand-color(gray, xx-light);
    box-sizing: border-box;
    color: brand-color(gray, xx-dark);
    line-height: 1.5;
    font-family: $body-font-family;
    font-size: $base-font-size;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;

    @include breakpoint(m) {
      font-size: 14px;
    }
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 100%;
}

// HTML5 Elements - correct display in older browsers
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}


// images - remove border when inside a link
img {
    border-style: none;
}

// SVG - correct overflow issue in IE
svg:not(:root) {
    overflow: hidden;
}

// ----------------------------------------------------
// Typography
// ----------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700|Droid+Serif:400,400i,700,700i');

body {
  font-family: $body-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  margin: 0;
}

h1 {
  @include font-scale(xxl);
  text-transform: uppercase;
}

h2 {
  @include font-scale(xl);
  font-style: italic;
}

h3 {
  @include font-scale(l);
  color: brand-color(primary, base);
  text-transform: uppercase;
}

// ----------------------------------------------------
// Links
// ----------------------------------------------------
a {
  &:link {
    color: brand-color(secondary, dark);
  }
  &:hover,
  &:focus {
    color: brand-color(secondary, base);
  }
}

// ----------------------------------------------------
// Layout
// ----------------------------------------------------
.page-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.intro {
  flex: 0 0 100%;
  order: 1;
  header[role="banner"] {
    @include equal-spacing(xxl);
    @include background-svg($blue-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    filter: contrast(125%);

    h1, h2 {
      color: brand-color(gray, x-light);
    }
    h2 {
      opacity: .5;
    }
    @include breakpoint(l) {
      @include offset-spacing(xxl, xl);
    }

    @include breakpoint(m) {
      @include offset-spacing(xl, l);
    }

    @include breakpoint(xs) {
      @include offset-spacing(xl, l);
      h1 {
        @include font-scale(xl);
      }
      h2 {
        @include font-scale(l);
      }
    } 
  }

  .summary {
    @include offset-spacing(l, xxl);
    @include font-scale(xl);
    color: brand-color(gray, light);
    font-weight: 200;
    font-style: italic;
    
    p:last-of-type {
      font-size: 60%;
    }

    @include breakpoint(l) {
      @include offset-spacing(l, xl);
    }
    @include breakpoint(m) {
      @include offset-spacing(s, l);
      @include font-scale(l);
    }
  }

  .preamble {
    @include offset-spacing(xl, xxl);
    position: relative;
    &:before {
      content: "";
      @include background-svg($blue-background);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      filter: grayscale(1) contrast(150%);
      position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      z-index: 0;
    }
    * {
      position: relative;
      z-index: 1;
    }
    h3 {
      filter: none;
    }
    p {
      color: brand-color(gray, x-light);
      max-width: 1000px;
      filter: none;
    }

    @include breakpoint(l) {
      @include offset-spacing(xl, xl);
    }

    @include breakpoint(m) {
      @include offset-spacing(l, l);
    }
  }
}

.main {
  padding: spacing(xl) spacing(xxl) spacing(xl) spacing(xl);
  order: 3;
  flex: 0 0 60%;

  @include breakpoint(l) {
    @include equal-spacing(xl);
  }

  @include breakpoint(m) {
    @include offset-spacing(l, l);
  }

  @include breakpoint(s) {
    flex-basis: 100%;
    order: 2;
  }

  .explanation,
  .participation,
  .benefits {
    @include stack(l);
    padding-bottom: spacing(l);

    @include breakpoint(m) {
      padding-bottom: 0;
    }
  }
  .explanation {

  }

  .participation {

  }

  .benefits {
    
  }

  .requirements {
    p:nth-child(5n) {
      padding-bottom: spacing(l);
    }
    [role="contentinfo"] {
      @include font-scale(l);
      color: brand-color(gray, light);
      display: block;
      font-weight: 200;
      font-style: italic;
      padding: spacing(xl) 0 spacing(l);
      position: relative;
      text-align: center;

      @include breakpoint(m) {
        padding: spacing(l) 0 spacing(m);
      }

      &:before {
        background-color: brand-color(gray, x-light);
        content: "";
        display: block;
        height: 1px;
        position: absolute;
          top: 0;
          left: spacing(-xl);
          right: spacing(-xxl);

        @include breakpoint(l) {
          right: spacing(-xl);
        }

        @include breakpoint(m) {
          right: spacing(-l);
        }
      }
    }
  }

  footer {
    @include equal-spacing(l);
    @include background-svg($blue-background);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: space-around;
    margin-left: spacing(-xl);
    margin-right: spacing(-xxl);
    margin-bottom: spacing(-xl);

    @include breakpoint(l) {
      margin-right: spacing(-xl);
    }

    @include breakpoint(m) {
      margin-left: spacing(-l);
      margin-right: spacing(-l);
      margin-bottom: spacing(-l);
    }

    a {
      color: #fff;
      text-decoration: none;
      transition: transform 150ms linear;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

// SVG image for HTML characters and links
.zen-validate-html,
.zen-validate-css,
.zen-github {
  overflow: hidden;
  text-indent: -50px;
  line-height: 0;
  &:after {
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 50px;
    width: 50px;
  }
}

.zen-license,
.zen-accessibility {
  border: 2px solid #fff;
  border-radius: 40px;
  height: 50px;
  font-size: 14px;
  line-height: 45px;
  text-align: center;
  width: 50px;
}
.zen-validate-html {
  position: relative;

  &:after {
    @include background-svg($icon-html);
  }
}

.zen-validate-css {
  &:after {
    @include background-svg($icon-css);
  }
}

.zen-license {
    
}

.zen-accessibility {
   
}

.zen-github {
  &:after {
    @include background-svg($icon-github);
  }
}
// End SVG styles

.sidebar {
  padding: spacing(xl) spacing(xl) spacing(xl) spacing(xxl);
  background-color: brand-color(gray, x-light);
  flex: 0 0 40%;
  order: 2;
  position: relative;

  @include breakpoint(l) {
    @include equal-spacing(xl);
  }

  @include breakpoint(m) {
    @include equal-spacing(l);
  }

  @include breakpoint(s) {
    flex-basis: 100%;
    order: 3;
    font-size: 13px;
  }

  .wrapper {
    @include breakpoint(s) {
      display: flex;
    }
    
    @include breakpoint(xs) {
      display: block;
    } 
  }

  h3 {
    color: brand-color(gray, dark);
    text-transform: inherit;
  }
  .design-selection {
    @include stack(xl);

    @include breakpoint(m) {
      @include stack(l);
    }

    @include breakpoint(s) {
      flex: 0 0 40%;
      margin-bottom: 0;
    }
  }

  .design-archives {
    @include stack(xl);

    @include breakpoint(m) {
      @include stack(l);
    }

    @include breakpoint(s) {
      margin-bottom: 0;
    }
  }

  .zen-resources {

  }
}